{{ define "main" }} {{- partial "header-2.html" . -}}


<section class="Promoters-banner position-relative pt-0">
    <img src="{{"img/promoters.png" | absURL}}" alt="banner" class="d-block w-100">
</section>
<div class="bg-full-height">

    <section class="Promoters">
     
        <div class="container promoter-container">
            <h3 class="title">
                Promoters
            </h3>
            <h5 class="subtitle text-center">
                All the Promoter Companies are Crisil A- rated companies which are into the different segments of businesses:
            </h5>
            <div class="row justify-content-center py-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-6">
                    <img src="{{"img/bg-gray.png" | absURL}}" class="d-block w-100" alt="promoters">
                </div>
                <div class="col-md-6">
                    <div class="team-text pt-3 pt-md-0">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Kejriwal Group
                        </div>
                        <div class="text-center text-md-start description pb-0">
                            One of the top poly yarn manufacturers in India with a turnover of over 1000 Cr. The company was started in 2001 at Surat in a small scale and grown to top 3 companies in India within 20 years. This is one of the few A- rated companies Rated by ICRA/CRISIL
                            in India in this segment..
                        </div>
                    </div>
                </div>
            </div>
            <hr class="separator mt-3 mb-3 d-block d-md-none">
            <div class="row justify-content-center  mb-0 py-md-4 flex-md-row-reverse" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-6">
                    <img src="{{"img/bg-gray.png" | absURL}}" class="d-block w-100" alt="promoters">
                </div>
                <div class="col-md-6">
                    <div class="team-text pt-3 pt-md-0">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Jimbh International
                        </div>
                        <div class="text-center text-md-start description ">
                            A leading Supplier of Aluminium & Other Non Ferrous Metals to Leading Automobile Companies in Japan, Korea, Europe & US. Jimbh Supplies Raw material to be used for Car & Battery Manufacturers in Japan (Suzuki, Toyota, Honda etc). Strong network in International
                            Market for the supply of Material. Rated one of the best supplier in the market with repeated orders from these top automobile companies across the globe. Will cross turnover of USD 50 Mn in this financial year.

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

{{ end }}
