.slideshow {
    position: relative;
    width: 100%;
    z-index: 1;
    height: 70vh;
    @media screen and (min-width: 768px) {
        height: 90vh;
    }
    @media screen and (min-width: 992px) {
        height: 100vh;
    }

    .slideshow-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .slide {
        display: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            top: 0;
            background-image: url(../images/overlay.png);
            background-size: cover;
            z-index: 1;
        }
        &.is-active {
            display: block;
        }

        &.is-loaded {
            opacity: 1;
        }

        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            z-index: 1;
            background-size: cover;
            image-rendering: optimizeQuality;

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
            }
        }

        .image {
            width: 100%;
            width: 100%;
            object-fit: cover;
            height: 100%;
        }

        &-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .title {
            margin: 0 auto 15px;
            max-width: 1000px;
            font: 300 50px/1.2 "Oswald", sans-serif;
            letter-spacing: 0.35em;
            text-transform: uppercase;
        }

        .text {
            margin: 0 auto;
            max-width: 1000px;
            font-size: 18px;
            line-height: 1.4;
        }

        .btn {
            margin: 15px 0 0;
            border-color: #fff;

            &::before {
                background: #fff;
            }
        }
    }

    .pagination {
        position: absolute;
        bottom: 25px;
        left: 0;
        width: 100%;
        height: 12px;
        cursor: default;
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        .item {
            display: inline-block;
            padding: 15px 5px;
            position: relative;
            width: 46px;
            height: 32px;
            cursor: pointer;
            text-indent: -999em;
            z-index: 1;

            + .page {
                margin-left: -2px;
            }

            &::before {
                content: "";
                display: block;
                position: absolute;
                top: 15px;
                left: 5px;
                width: 36px;
                height: 2px;
                background: rgba(255, 255, 255, 0.5);
                transition: background 0.2s ease;
            }

            &::after {
                width: 0;
                background: #fff;
                z-index: 2;
                transition: width 0.2s ease;
            }

            &:hover::before,
            &.is-active::before {
                background-color: #fff;
            }
        }
    }

    .arrows {
        .arrow {
            position: absolute;
            top: 0;
            cursor: pointer;
            z-index: 3;
            bottom: 30%;

            @media screen and (min-width: 992px) {
                bottom: 30%;
            }

            display: flex;
            align-items: center;
            justify-content: center;
        }

        .prev {
            //      transform: translate(65%, -15%);
            // transform: translate(-65%, -15%);
            left: 0%;
            left: 12%;
        }

        .next {
            right: 0%;
            right: 12%;
        }

        .svg {
            position: relative;
            left: 0;
            width: 14px;
            height: 26px;
            fill: #fff;
            transition: left 0.2s ease;
        }
    }
    &::after {
        content: "";
        position: absolute;
        left: 0%;
        height: 1.5px;
        width: 18%;
        background-size: cover;
        background-color: #fff;
        bottom: 5%;
        z-index: 3;
    }
    &::before {
        content: "";
        position: absolute;
        right: 0%;
        height: 1.5px;
        width: 18%;
        background-size: cover;
        background-color: #fff;
        bottom: 5%;
        z-index: 3;
    }
    @media screen and (min-width: 992px) {
        &::after {
            left: 2%;

            width: 33%;
        }
        &::before {
            right: 2%;

            width: 33%;
        }
    }
}



.caption {
    text-align: left;
    position: absolute;
    bottom: 15%;
    left: 5%;
    font-weight: 600;
    color: #fff;
    z-index: 2;
    .heading {
        font-size: 1.5em;
    }
}
@media screen and (min-width: 768px) {
    .caption {
        position: absolute;
        bottom: 20%;
        font-weight: 600;
        color: #fff;
        z-index: 2;
        .heading {
            font-size: 3em;
        }
    }
}
@media screen and (min-width: 992px) {
    .caption {
        .heading {
            font-size: 2.2em;
        }
    }
}
@media screen and (min-width: 1200px) {
    .caption {
        .heading {
            width: 60%;
            font-size: 2.5em;
        }
        .subtitle {
            width: 60%;
            line-height: initial;
        }
    }
}
.navigation-bg {
    width: 220px;
    margin: auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    left: 0;
    right: 0;
    bottom: -35px;
    @media screen and (min-width: 768px) {
        width: 40%;
        margin-bottom: -15px;
    }
    @media screen and (min-width: 992px) {
        width: 28%;
        margin-bottom: -10px;
    }
    @media screen and (min-width: 1200px) {
        margin-bottom: -30px;
    }

    .carousel-control-prev {
        transform: translate(65%, -15%);
        opacity: 1;
    }
    .carousel-control-next {
        transform: translate(-65%, -15%);
        opacity: 1;
    }
}