@font-face {
	font-family: "NewYork";
	src: url("../fonts/NewYork.eot");
	src: local("☺"), url("../fonts/NewYork.woff") format("woff"), url("../fonts/NewYork.ttf") format("truetype"),
		url("../fonts/NewYork.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

$fontNewYork: "NewYork";
$fontabril: "Abril Fatface";
$nunitosans: "Nunito Sans", sans-serif;

$theme-color: #298cf0;
$text-grey: #c7c7c6;
$text-palegrey: #c7aa93;
$text-white: #fff;
$text-offwhite: #ffffffb3;
