
<head>
    <title>western-capital</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="description" content="{{ .Params.description}}">
    <meta name="keyword" content="{{ .Params.keyword}}">
    <link href="{{"vendor/bootstrap/bootstrap.min.css" | relURL}}" rel="stylesheet" />

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link type="image/x-icon" href="{{ "img/favicon.ico" | relURL}}" rel="shortcut icon"> {{ if .Site.IsServer }} {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
    <link rel="stylesheet" href="{{ ($style).RelPermalink }}"> {{ else }} {{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
    <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}"> {{ end }}
    <link rel="stylesheet" href="{{"vendor/slick/slick.css" | relURL}}">
    <link rel="stylesheet" href="{{"vendor/slider.css" | relURL}}">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/04efa78c0e.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b73881b7c2.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>{{ .Params.title}}</title>
</head>