{{ define "main" }} {{- partial "header-1.html" . -}}

<section class="banner position-relative pt-0">
    <img src="{{"img/about-banner.jpg" | absURL}}" alt="" class="d-block w-100">
    <div class="container">
        <div class="banner-text" data-aos="fade-up" data-aos-duration="1000">
            <h3 class="title">About Us</h3>
            <div class="description">
                Our Vision is to be a niche’ player in the financial services segment in serving the NBFC/Fintech to help in their growth capital along with the product offerings to get better return of equity to partners. We aim to become one of the reliable players
                with best industry practices and transparent transactions
            </div>
        </div>
    </div>
</section>
<section class="now-and-future">
    <div class="container">
        <div data-aos="fade-up" data-aos-duration="1000">

            <div class="title">
                Now and Future
            </div>
            <div class="description">
                <h1 class="text-theme-color d-inline-block fw--700 description-1">Western Capital</h1>
              
                    started with a capital of 50 Cr in January 2019 and moved to 191 Cr NOF as on 31st December 2020. We are debt free company and looking at increasing our book by 2X by FY 2021-22. Served over 82 NBFC/Fintech for their growth capital through disbursement
                    of over 430+ Cr till date. We have a AUM of 258 Cr as on 3st March 2021. We plan to cross AUM of 550 Cr by FY 2021-2022 with focus on building granular book through partnerships and continue to serve selective clients in NBFC/Fintech
                    through Term Loans. Retail book will contribute to ~50% - 60% by next financial year as compared to 5% (by FY 21).</p>
               Focus to have retail exposure in Consumer & MSME Segments through Partnership Model Funding.
            </div>
        </div>

    </div>
</section>
<section class="timeline-outer">
    <div class="container">
        <h3 class="title text-white">
            Our partners for building retail book through risk sharing model
        </h3>

        <ul class="timeline">
            <li class="timeline-noninverted" data-aos="fade-up" data-aos-duration="1000">
                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/udaan.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">
                        Supply Chain Finance

                    </div>

                </div>
            </li>
            <li class="timeline-inverted" data-aos="fade-up" data-aos-duration="1000">

                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/moneyview.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">

                        Personal Loans
                    </div>

                </div>
            </li>
            <li class="timeline-noninverted" data-aos="fade-up" data-aos-duration="1000">
                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/grayquest.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">
                        Supply Chain Finance

                    </div>

                </div>
            </li>
            <li class="timeline-inverted" data-aos="fade-up" data-aos-duration="1000">

                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/zetwerk.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">

                        Personal Loans
                    </div>

                </div>
            </li>
            <li class="timeline-noninverted" data-aos="fade-up" data-aos-duration="1000">
                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/spinny.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">
                        Supply Chain Finance

                    </div>

                </div>
            </li>
            <li class="timeline-inverted" data-aos="fade-up" data-aos-duration="1000">

                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/irep.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">

                        Personal Loans
                    </div>

                </div>
            </li>
            <li class="timeline-noninverted" data-aos="fade-up" data-aos-duration="1000">
                <div class="timeline-panel">
                    <div class="timeline-logo">
                        <img src="{{"img/krazybee.png" | absURL}}" alt="" class="img-fluid">

                    </div>
                    <div class="timeline-text">
                        Supply Chain Finance

                    </div>

                </div>
            </li>

            <li class="clearfix no-float"></li>
        </ul>
    </div>
</section>
<section class="geographical-map p-0">
    <div class="position-relative">
        <img src="{{"img/our-geo.jpg" | absURL}}" alt="" class="d-block w-100 geo-image">
        <div class="container">
            <div class="banner-text">
                <h3 class="title">Our Geographical Presence</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row flex-column-reverse flex-md-row justify-content-md-between">
            <div class="col-md-5">
                <div class="d-flex justify-content-center justify-content-md-around">
                    <ul class="states" data-aos="fade-up" data-aos-duration="1000">
                        <li>delhi</li>
                        <li>PUNJAB</li>
                        <li>BIHAR </li>
                        <li>HARYANA </li>
                        <li>raJASTHAN </li>
                        <li>CHANDIGARH</li>
                        <li>jharkhand</li>
                        <li>tamil nadu</li>
                        <li>karnataka</li>
                        <li>west bengal</li>
                    </ul>
                    <ul class="states" data-aos="fade-up" data-aos-duration="1500">
                        <li>chattisgarh</li>
                        <li>maharastra</li>
                        <li>uttar pradesh</li>
                        <li>andhra pradesh</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-duration="1000">
                <img src="{{"img/aboutmap.png" | absURL}}" alt="" class="about-map img-fluid">
            </div>
        </div>
    </div>

</section>
<section class="chart bg-dark-blue py-md-5 mt-md-5">
    <div class="container">
        <div class="row justify-content-md-between align-items-center flex-column-reverse flex-md-row">
            <div class="col-md-5 mt-4 mt-md-0">
                <h3 class="title text-md-start text-white mb-md-5">
                    Our Product Lines
                </h3>
                <div class="description" data-aos="fade-up" data-aos-duration="1000">
                    <div class=" text-orange text-center text-md-start letter-spacing-15 font-bold mb-md-4 ">
                        PRODUCT COMPOSITION
                    </div>
                    <ul class="text-white">
                        <li class="mb-md-2">
                            Focused on NBFC and Fintech Business Segments.
                        </li>
                        <li>
                            Partnership Model Business will contribute to 50% in next 3 years.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 d-flex" data-aos="fade-up" data-aos-duration="1000">
                <img src="{{"img/chart.png" | absURL}}" alt="" class="img-fluid ms-auto">
            </div>
        </div>
    </div>
</section>
<section class="about-founder">
    <div class="container">
        <div class="clearfix">
            <img src="{{"img/ceo.png" | absURL}}" alt="" class="d-block float-left" data-aos="fade-up" data-aos-duration="1000">
            <h3 class="title text-md-start pt-3 pt-md-5 mb-md-3" data-aos="fade-up" data-aos-duration="1000">
                About our Founder
            </h3>
            <p class="author mb-md-4 text-center text-md-start" data-aos="fade-up" data-aos-duration="1000">
                <span class="fw--600"> Mr. Anil Kejriwal</span> - <span>Founder &amp; CEO of Western Capital</span>
            </p>
            <div class="description" data-aos="fade-up" data-aos-duration="1000">
                <p>
                    Western Capital is the brain child of Mr. Anil Kumar Kejriwal, who has the passion to strive for the best in his businesses. This was proven from his other business ventures in India & Abroad. He has done his Bachelor's Degree in Finance from Sonoma University,
                    California and an Expert in Domestic & International Manufacturing & Trade. He started his business as a small NBFC at Jharkand in early 2000’s and expanded his business empires to Africa, Europe & Middle East over the past 13
                    years.
                </p>
                <p>
                    In 2016 Mr. Anil Kejriwal found the need of Digitalization in the Indian Lending space and started his ground work on starting up a NBFC to serve the underserved segment of Indian lending Space. Western Capital got a licence in Jan 2019 to start the operations.
                    Mr. Anil Kejriwal found the Niche’ of serving the small NBFC/Fintech to their growth capital as these segments are facing lot of credit crunch due to the recent change in approach by the RBI/Banks
                </p>
            </div>
        </div>

    </div>
</section>
<section class="meet-our-team">
    <h3 class="title mb-5">
        Meet our Team
    </h3>
    <div class=" text-center" data-aos="fade-up" data-aos-duration="1000">

        <div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel">

            <div class="outer-carousel-container">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <img src="{{"img/team1.png" | absURL}}" class="d-block  author-image" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="team-text ">
                                        <div class="title text-md-start  text-capitalize">
                                            chandra mouli
                                        </div>
                                        <hr class="separator mx-auto mx-md-start">
                                        <div class="team-pos text-theme-color text-md-start mb-md-2 fw--700">
                                            HEAD OF BUSINESS
                                        </div>
                                        <div class="text-center text-md-start description ">
                                            He is MBA Graduate and EPBM from IIM, Calcutta. He worked for 25 years in financial services (retail, consumer &amp; mid corporate finance). He worked with companies like Kotak Mahindra, ICICI, Reliance &amp; Clix Capital.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <img src="{{"img/team2.png" | absURL}}" class="d-block  author-image" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="team-text ">
                                        <div class="title text-md-start  text-capitalize">
                                            chandra mouli
                                        </div>
                                        <hr class="separator mx-auto mx-md-start">
                                        <div class="team-pos text-theme-color text-md-start mb-md-2 fw--700">
                                            HEAD OF BUSINESS
                                        </div>
                                        <div class="text-center text-md-start description ">
                                            He is MBA Graduate and EPBM from IIM, Calcutta. He worked for 25 years in financial services (retail, consumer &amp; mid corporate finance). He worked with companies like Kotak Mahindra, ICICI, Reliance &amp; Clix Capital.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <img src="{{"img/team3.png" | absURL}}" class="d-block   author-image" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="team-text ">
                                        <div class="title text-md-start  text-capitalize">
                                            chandra mouli
                                        </div>
                                        <hr class="separator mx-auto mx-md-start">
                                        <div class="team-pos text-theme-color text-md-start mb-md-2 fw--700">
                                            HEAD OF BUSINESS
                                        </div>
                                        <div class="text-center text-md-start description ">
                                            He is MBA Graduate and EPBM from IIM, Calcutta. He worked for 25 years in financial services (retail, consumer &amp; mid corporate finance). He worked with companies like Kotak Mahindra, ICICI, Reliance &amp; Clix Capital.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <img src="{{"img/team4.png" | absURL}}" class="d-block   author-image" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="team-text ">
                                        <div class="title text-md-start  text-capitalize">
                                            chandra mouli
                                        </div>
                                        <hr class="separator mx-auto mx-md-start">
                                        <div class="team-pos text-theme-color text-md-start mb-md-2 fw--700">
                                            HEAD OF BUSINESS
                                        </div>
                                        <div class="text-center text-md-start description ">
                                            He is MBA Graduate and EPBM from IIM, Calcutta. He worked for 25 years in financial services (retail, consumer &amp; mid corporate finance). He worked with companies like Kotak Mahindra, ICICI, Reliance &amp; Clix Capital.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3">
                    </div>

                    <div class="col-md-9">
                        <ul class="carousel-indicators">
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1">
                                <img src="{{"img/team1.png" | absURL}}" class="d-block w-100" alt="...">

                            </li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2">
                                <img src="{{"img/team2.png" | absURL}}" class="d-block w-100" alt="...">

                            </li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3">
                                <img src="{{"img/team3.png" | absURL}}" class="d-block w-100" alt="...">

                            </li>
                            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4">
                                <img src="{{"img/team4.png" | absURL}}" class="d-block w-100" alt="...">

                            </li>
                        </ul>
                    </div>

                </div>

            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
<img alt="arrows" src="{{"img/arrow-left.png" | absURL}}" class="img-fluid" width="30px">
<span class="visually-hidden">Previous</span>
</button>
            <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
<img alt="arrows" src="{{"img/arrow-right.png" | absURL}}" class="img-fluid" width="30px">
<span class="visually-hidden">Next</span>
                </div>
        </div>

</section>
{{ end }}
