{{ define "main" }} {{- partial "header-2.html" . -}}
<section class="advisor-banner position-relative pt-0">
    <img src="{{"img/advisor.png" | absURL}}" alt="" class="d-block w-100">
</section>
<div class="bg-full-height">
    <section class="advisor-board">
        <h2 class="title mb-3 my-md-5">
            Advisor to Board & External Board Members
        </h2>
        <div class="container">
            <div class="row justify-content-center py-3 py-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-4">
                    <img src="{{"img/advisor1.png" | absURL}}" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="team-text pt-3">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Mr. Debabrata Sarkar
                        </div>
                        <hr class="separator mx-auto mx-md-start w-50">
                        <div class="team-pos text-theme-color text-center text-md-start mb-3 fw--700 text-uppercase">
                            ex - cmd, union bank of india& ex board member, bank of india
                        </div>
                        <div class="text-center text-md-start description ">
                            He is an eminent banker with experience of more than 35 years in Indian& International Banking sectors. He is member of Empowered Committee on ECB – RBI and Independent External Monitor & Screening Committee – EXIM Bank. He is Advisor to Board of Members
                            of WCAPL in giving guidance for better prospects of the organization.


                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center flex-md-row-reverse py-3 py-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-4">
                    <img src="{{"img/advisor2.png" | absURL}}" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="team-text pt-3">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Mr. P K Anand
                        </div>
                        <hr class="separator mx-auto mx-md-start w-50">
                        <div class="team-pos text-theme-color text-center text-md-start mb-3 fw--700 text-uppercase">
                            ex - cmd, punjab and sind bank and ex genral manager, allahabad bank
                        </div>
                        <div class="text-center text-md-start description ">
                            Mr. Anand is veteran in Indian Banking Sector with over 35 years experience. He is Independent Director on the Board of WCAPL. His vast experience in understanding the various business models came up with the best underwriting model to the company. His
                            experience in understanding the business models helping WCAPL to build a best portfolio.

                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-center py-3 py-md-4" data-aos="fade-up" data-aos-duration="1000">

                <div class="col-md-4">
                    <img src="{{"img/advisor3.png" | absURL}}" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="team-text pt-3">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Mr. Pritpal Singh Bhatia
                        </div>
                        <hr class="separator mx-auto mx-md-start w-50">
                        <div class="team-pos text-theme-color text-center text-md-start mb-3 fw--700 text-uppercase">
                            ex gm, allahabad bank
                        </div>
                        <div class="text-center text-md-start description ">
                            He is a professional banker with experience of over 35 years in Banking Industry. Mr. Bhatia is Non Executive Director of WCAPL. Successfully handled the Recovery Department of the Bank as Head of the Department. Also, he headed the HR Function of the
                            Bank. He is expert in corporate governance and managed the Secretarial Position of the Bank as General Manager.

                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center flex-md-row-reverse py-3 py-md-4" data-aos="fade-up" data-aos-duration="1000">
                <div class="col-md-4">
                    <img src="https://via.placeholder.com/342/e0e0e0/fff.png%20C/O%20https://placeholder.com/" class="d-block w-100" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="team-text pt-3">
                        <div class="title fw--400 text-md-start text-capitalize">
                            Mr. D K Bhatia
                        </div>
                        <hr class="separator mx-auto mx-md-start w-50">
                        <div class="team-pos text-theme-color text-center text-md-start mb-3 fw--700 text-uppercase">
                            ex - cmd and ex genral manager, Dummy bank
                        </div>
                        <div class="text-center text-md-start description ">
                            Mr. Anand is veteran in Indian Banking Sector with over 35 years experience. He is Independent Director on the Board of WCAPL. His vast experience in understanding the various business models came up with the best underwriting model to the company. His
                            experience in understanding the business models helping WCAPL to build a best portfolio.

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
{{ end }}
