{{ define "main" }} {{- partial "header-2.html" . -}}


<section class="contact-us pb-5">
    <div class="container">
        <div class="row ">
            <div class="col-md-3 ">
                <div class="title text-start mb-4">
                    Contact Us
                </div>
            </div>
        </div>
        <div class="row position-relative justify-content-md-between" style="z-index: 2;">
            <div class="col-md-4 col-lg-3 ">
                <div class="icon-text mb-3 mb-lg-5">
                    <div class="d-flex">
                        <img src="{{"img/mail.png" | absURL}}" alt="">
                        <div class="text">
                            <strong>Email us at</strong>
                        </div>
                    </div>
                    <a href="mailto:hello@westerncapital.com">hello@westerncapital.com</a>
                </div>
                <div class="icon-text">
                    <div class="d-flex">
                        <img src="{{"img/phone.png" | absURL}}" alt="">
                        <div class="text">
                            <strong>call us at</strong>
                        </div>
                    </div>
                    <a href="tel:+91 9876 543 210">+91 9876 543 210</a>
                </div>
            </div>
            <!-- <div class="col-md-5 col-lg-3 offset-lg-1 mt-3 mt-md-0">
                <div class="icon-text mb-4 mb-md-3">
                    <div class="d-flex">
                        <img src="{{"img/locate.png" | absURL}}" alt="">
                        <div class="text">
                            <strong>visit us at</strong>
                        </div>
                    </div>
                    <p class="link">Western Coperate Park Tower A Complex Bengaluru, Karnataka, India</p>
                </div>
                <a href="#" class="get-direction">get directions</a>
                <img src="{{"img/direction-arrow.png" | absURL}}" alt="" class="direction-arrow">
            </div> -->
            <div class="col-md-3 col-lg-4 offset-lg-1 mt-4 mt-md-0">
                <img src="{{"img/map.png" | absURL}}" class="d-block w-100 map" alt="">
            </div>
        </div>
    </div>
</section>
<section class="contact-form py-4">
    <img src="{{"img/bg-patter.png " | absURL}}" alt="" class="contact-page-bg-pattern d-none d-lg-block">
    <div class="container">
        <h3 class="title mb-3">
            Have a Question?
        </h3>
        <div class="subtitle text-center w-md-75 mx-auto">
            We are happy to answer your questions. Please submit your queries below and we will get in touch with you.
        </div>
        <div class="row justify-content-md-center mt-lg-5">
            <div class="col-md-10 col-lg-6">
                <form id="contact" method="post">
                    <fieldset>
                        <label>Full name</label>
                        <input placeholder="" type="text">
                    </fieldset>
                    <fieldset>
                        <label>Phone Number <span class="text-orange">*</span></label>
                        <input placeholder="" type="tel">
                    </fieldset>
                    <fieldset>
                        <label>Email id <span class="text-orange">*</span></label>
                        <input placeholder="" type="email">
                    </fieldset>
                    <fieldset>
                        <label>message </label>
                        <textarea placeholder=""></textarea>
                    </fieldset>
                    <fieldset>
                        <button name="submit" type="submit"id="contact-submit" data-submit="...Sending">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="contact-us pt-md-1 pb-md-5 bg-transparent">
    <div class="container">
        <h3 class="title">
            Connect with one of our national offices
        </h3>
        <div class="live-map mt-md-5">
            <div class="row justify-content-center">
                <div class="col-md-6 pe-0 position-relative">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d232.512553214895!2d72.83329734285101!3d21.184178685891784!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04e438dd57eb7%3A0xe1de8056ca96efbf!2sWorld%20Trade%20Centre!5e0!3m2!1sen!2sin!4v1624960819096!5m2!1sen!2sin"
                        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d404.9371344589306!2d72.8659576282865!3d19.112772467219795!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c83980025da9%3A0xb61129f88fb20d72!2sDynasty%20Business%20Park!5e0!3m2!1sen!2sin!4v1624966771748!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" class="address-2"></iframe>
                </div>
                <div class="col-md-3 px-4 bg-light-grey d-flex flex-column justify-content-center">
                    <div class="address icon-text mb-4 mb-md-5">
                        <div class="d-flex">
                            <img src="{{"img/locate.png" | absURL}}" alt="">
                            <div class="text">
                                <strong>Registered office address:</strong>
                            </div>
                        </div>
                        <p class="link address-link-1">A-7001, World Trade Centre Ring Road, Surat, Gujarat, - 395002</p>
                    </div>
                    <div class="address icon-text ">
                        <div class="d-flex">
                            <img src="{{"img/locate.png" | absURL}}" alt="">
                            <div class="text">
                                <strong>corporate office address:</strong>
                            </div>
                        </div>
                        <p class="link address-link-2">C-402,Business Plaza, Andheri Kurla Road, Andheri (East), Mumbai - 400093</p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}