{{ define "main" }} {{- partial "header-2.html" . -}}
<section class="regulatory p-0">

    <div class="position-relative regulatory-banner">
        <img src="{{"img/regulatory-banner.png" | absURL}}" alt="" class="d-block w-100 geo-image">
    </div>
    <div class="container">

        <div class="ht-md" id="basic-rules"></div>
        <h3 class="title mt-5">
            Regulatory
        </h3>

        <div class="row justify-content-md-between ">
            <div class="col-md-4 position-sm-sticky">
                <ul class="section-links">
                    <li><a href="#basic-rules" class="active">Basic Rules</a></li>
                    <li><a href="#cookie-policy">Cookie Policy</a></li>
                    <li><a href="#licenses">Licenses</a></li>
                    <li><a href="#advantages">Advantages</a></li>
                    <li><a href="#basic-rules">Basic Rules</a></li>

                </ul>
                <!-- <div class="d-flex justify-content-center justify-content-md-around">
                   
                </div> -->
            </div>
            <div class="col-md-8">
                <div class="text-section">

                    <section>
                        <h5 class="subtitle fw--600">
                            Basic Rules
                        </h5>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis massa nibh mauris erat mattis libero. Urna faucibus netus pellentesque sed ullamcorper neque. Lectus hendrerit tellus velit egestas suspendisse elit sit ornare
                            et. Enim tristique montes, vitae, varius elementum aliquam etiam aliquam. Pharetra eget nisl volutpat condimentum consectetur. Neque, est ipsum in velit fames facilisis sed nunc, vitae. Suspendisse enim egestas eu, tempor.
                            At lectus duis felis id neque viverra vitae. Ipsum erat suspendisse quis commodo. Nunc eu a quam habitasse ornare vel, lobortis. Ut egestas aliquet ultrices tortor diam. Augue viverra tempus imperdiet egestas sed et faucibus
                            etiam. At cum amet volutpat convallis. Augue sit egestas aliquam nunc. Nibh pellentesque egestas cras adipiscing. Sagittis egestas quam massa posuere. Amet, auctor eget diam neque orci tristique maecenas. Hendrerit faucibus
                            lorem eget quam velit quam quisque habitant eget. A, neque et sed bibendum tempus faucibus quis velit. Turpis risus urna massa sit at nisi. Sed augue a pharetra elementum condimentum amet sagittis tristique arcu. Odio suscipit
                            tincidunt faucibus quis egestas eu lacus vestibulum tellus. Tellus eu libero facilisis est. Euismod magna accumsan mattis aliquam ipsum nisl malesuada. Rhoncus, tincidunt vivamus venenatis ullamcorper ultricies. Fringilla
                            felis, lacus fringilla sit. Varius enim consectetur elit nibh sem in. Nibh pellentesque volutpat velit egestas malesuada luctus senectus vulputate. Nulla feugiat diam cursus aliquam. Auctor egestas viverra sit consectetur
                            nulla at. Malesuada rhoncus ac id id sed magnis dapibus blandit pretium. Vitae morbi mauris, consectetur ullamcorper tincidunt. Adipiscing volutpat morbi velit est tortor, placerat.
                        </p>
                    </section>

                    <div class="ht-md" id="cookie-policy"></div>
                    <section>
                        <h5 class="subtitle fw--600">
                            Cookie Policy
                        </h5>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis massa nibh mauris erat mattis libero. Urna faucibus netus pellentesque sed ullamcorper neque. Lectus hendrerit tellus velit egestas suspendisse elit sit ornare
                            et. Enim tristique montes, vitae, varius elementum aliquam etiam aliquam. Pharetra eget nisl volutpat condimentum consectetur. Neque, est ipsum in velit fames facilisis sed nunc, vitae. Suspendisse enim egestas eu, tempor.
                            At lectus duis felis id neque viverra vitae. Ipsum erat suspendisse quis commodo. Nunc eu a quam habitasse ornare vel, lobortis. Ut egestas aliquet ultrices tortor diam. Augue viverra tempus imperdiet egestas sed et faucibus
                            etiam. At cum amet volutpat convallis. Augue sit egestas aliquam nunc. Nibh pellentesque egestas cras adipiscing. Sagittis egestas quam massa posuere. Amet, auctor eget diam neque orci tristique maecenas. Hendrerit faucibus
                            lorem eget quam velit quam quisque habitant eget. A, neque et sed bibendum tempus faucibus quis velit. Turpis risus urna massa sit at nisi. Sed augue a pharetra elementum condimentum amet sagittis tristique arcu. Odio suscipit
                            tincidunt faucibus quis egestas eu lacus vestibulum tellus. Tellus eu libero facilisis est. Euismod magna accumsan mattis aliquam ipsum nisl malesuada. Rhoncus, tincidunt vivamus venenatis ullamcorper ultricies. Fringilla
                            felis, lacus fringilla sit. Varius enim consectetur elit nibh sem in. Nibh pellentesque volutpat velit egestas malesuada luctus senectus vulputate. Nulla feugiat diam cursus aliquam. Auctor egestas viverra sit consectetur
                            nulla at. Malesuada rhoncus ac id id sed magnis dapibus blandit pretium. Vitae morbi mauris, consectetur ullamcorper tincidunt. Adipiscing volutpat morbi velit est tortor, placerat.
                        </p>
                    </section>

                    <div class="ht-md" id="licenses"></div>
                    <section id="licenses">
                        <h5 class="subtitle fw--600">
                            Licenses
                        </h5>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis massa nibh mauris erat mattis libero. Urna faucibus netus pellentesque sed ullamcorper neque. Lectus hendrerit tellus velit egestas suspendisse elit sit ornare et. Enim tristique montes,
                            vitae, varius elementum aliquam etiam aliquam. Pharetra eget nisl volutpat condimentum consectetur. Neque, est ipsum in velit fames facilisis sed nunc, vitae. Suspendisse enim egestas eu, tempor. At lectus duis felis id
                            neque viverra vitae. Ipsum erat suspendisse quis commodo. Nunc eu a quam habitasse ornare vel, lobortis. Ut egestas aliquet ultrices tortor diam. Augue viverra tempus imperdiet egestas sed et faucibus etiam. At cum amet
                            volutpat convallis. Augue sit egestas aliquam nunc. Nibh pellentesque egestas cras adipiscing. Sagittis egestas quam massa posuere. Amet, auctor eget diam neque orci tristique maecenas. Hendrerit faucibus lorem eget quam
                            velit quam quisque habitant eget. A, neque et sed bibendum tempus faucibus quis velit. Turpis risus urna massa sit at nisi. Sed augue a pharetra elementum condimentum amet sagittis tristique arcu. Odio suscipit tincidunt
                            faucibus quis egestas eu lacus vestibulum tellus. Tellus eu libero facilisis est. Euismod magna accumsan mattis aliquam ipsum nisl malesuada. Rhoncus, tincidunt vivamus venenatis ullamcorper ultricies. Fringilla felis,
                            lacus fringilla sit. Varius enim consectetur elit nibh sem in. Nibh pellentesque volutpat velit egestas malesuada luctus senectus vulputate. Nulla feugiat diam cursus aliquam. Auctor egestas viverra sit consectetur nulla
                            at. Malesuada rhoncus ac id id sed magnis dapibus blandit pretium. Vitae morbi mauris, consectetur ullamcorper tincidunt. Adipiscing volutpat morbi velit est tortor, placerat.
                        </p>
                    </section>

                    <div class="ht-md" id="advantages"></div>
                    <section id="advantages">
                        <h5 class="subtitle fw--600">
                            Advantages
                        </h5>
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Iaculis massa nibh mauris erat mattis libero. Urna faucibus netus pellentesque sed ullamcorper neque. Lectus hendrerit tellus velit egestas suspendisse elit sit ornare
                            et. Enim tristique montes, vitae, varius elementum aliquam etiam aliquam. Pharetra eget nisl volutpat condimentum consectetur. Neque, est ipsum in velit fames facilisis sed nunc, vitae. Suspendisse enim egestas eu, tempor.
                            At lectus duis felis id neque viverra vitae. Ipsum erat suspendisse quis commodo. Nunc eu a quam habitasse ornare vel, lobortis. Ut egestas aliquet ultrices tortor diam. Augue viverra tempus imperdiet egestas sed et faucibus
                            etiam. At cum amet volutpat convallis. Augue sit egestas aliquam nunc. Nibh pellentesque egestas cras adipiscing. Sagittis egestas quam massa posuere. Amet, auctor eget diam neque orci tristique maecenas. Hendrerit faucibus
                            lorem eget quam velit quam quisque habitant eget. A, neque et sed bibendum tempus faucibus quis velit. Turpis risus urna massa sit at nisi. Sed augue a pharetra elementum condimentum amet sagittis tristique arcu. Odio suscipit
                            tincidunt faucibus quis egestas eu lacus vestibulum tellus. Tellus eu libero facilisis est. Euismod magna accumsan mattis aliquam ipsum nisl malesuada. Rhoncus, tincidunt vivamus venenatis ullamcorper ultricies. Fringilla
                            felis, lacus fringilla sit. Varius enim consectetur elit nibh sem in. Nibh pellentesque volutpat velit egestas malesuada luctus senectus vulputate. Nulla feugiat diam cursus aliquam. Auctor egestas viverra sit consectetur
                            nulla at. Malesuada rhoncus ac id id sed magnis dapibus blandit pretium. Vitae morbi mauris, consectetur ullamcorper tincidunt. Adipiscing volutpat morbi velit est tortor, placerat.
                        </p>
                    </section>

                </div>
            </div>
        </div>
    </div>

</section>

{{ end }}
