{{ define "main" }} {{- partial "header-2.html" . -}}
<div class="regulatory ">

    <div class="position-relative regulatory-banner">
        <img src="{{"img/regulatory-banner.png" | absURL}}" alt="" class="d-block w-100 geo-image">
    </div>
     <section class="pb-0 pt-md-5">
        <div class="container">
            <h3 class="title mb-3 pb-md-4">
                Regulatory
            </h3>

            <div class="row">
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/asset-liability-management-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Asset Liability Management Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/moratorium-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Moratorium Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/kyc-and-aml-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">KYC and AML Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/outsourcing-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Outsourcing Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/prevention-of-sexual-harrassment-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Prevention of Sexual Harrassment Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/risk-management-policy.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Risk Management Policy</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-md-3 col-12 text-center mb-4 border-0">
                    <a href="{{"pdfs/fair-practice-code.pdf" | absURL}}" target="_blank" class="h-100">
                        <div class="card-inner px-3 py-4 h-100 d-flex align-items-center">
                            <div class="w-75 mx-auto">
                                <img class="card-img-top mx-auto" src="{{"img/pdf.png" | absURL}}" alt="Card image cap">
                                <div class="card-body pb-0">
                                    <h6 class="card-title">Fair Practice Code</h6>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
     </section>

    </div>

{{ end }}
